header .title {
  color: #fff;
}

header.head-menu ul {
  background-color: #111338;
  list-style: none;
  padding: 0 30px;
}
header.head-menu ul li {
  display: inline-block;
  padding: 10px 10px
}
header.head-menu ul li a{
  color: #fff;
}

.box {
    display: table;
}
.box .content {
    height: 200px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.form-group{
    padding:10px;
}

.accommodationForm, .programForm {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*background: #f7f7f7;*/
    border:1px solid #e0e0e0;
    margin:10px 0;
    padding:5px;
    padding-bottom: 10px;
}

/* Other */

#head-table td{
    border: none;
}
#head-table {
    width: auto;
}
#head-table tr td:first-child{
    text-align: right;
    vertical-align: middle;
}
.roomForm {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    position: relative;
    margin-bottom:5px;
}
.removeRoom {
    position: absolute;
    right: 3px;
    top: 3px;
}

.roomsLayout {
  padding: 10px;
  border:1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
