doctype html
html
  head
    meta(charset='utf-8')
    title Your basic web app structure
    link(href="/css/style.css", rel="stylesheet")
  body
      .box
          .content
              h1 Hello world!
              p Basic node app structure