extends ./layout/base

block content
    .container(style="margin-top:20px;")
        form
            .jumbotron
                h3 Header here

            hr
            h3 Проживание

            .row
                .col-md-2
                    .form-group
                        label(for='city') Город
                        select.form-control#city
                            option Город
                            option(value="spb") Санкт-Петербург
                            option(value="msk") Москва

                .col-md-2
                    .form-group
                        label(for='hotel') Гостиница
                        input.form-control#hotel(type='text', placeholder='Гостиница')

                .col-md-2
                    .form-group
                        label(for='hotelStart') Дата заселения
                        input.form-control#hotelStart(type='text', placeholder='Дата заселения')

                .col-md-2
                    .form-group
                        label(for='hotelEnds') Дата выезда
                        input.form-control#hotelEnds(type='text', placeholder='Дата выезда')

                .col-md-2
                    .form-group
                        label(for='roomType') Тип комнаты
                        select.form-control#roomType
                            option Тип комнаты
                .col-md-2
                    .form-group
                        label(for='roomsAmount') Кол-во номеров
                        input.form-control#roomsAmount(type='text', placeholder='Кол-во номеров')

            .row
                .col-md-2

                .col-md-2

                .col-md-2

                .col-md-2

                .col-md-2
                    a.btn.btn-xs.btn-primary + Добавить тип комнаты
                .col-md-2


            button.btn.btn-default(type='submit') + Добавить


            hr
            h3 Программа

            .row
                .col-md-2
                    .form-group
                        label(for='') № Дня
                        input.form-control(type='text', placeholder='')
                .col-md-2

                .col-md-2

                .col-md-2

                .col-md-2

                .col-md-2

            .row
                .col-md-2
                    .form-group
                        label(for='') Город
                        select.form-control#city
                            option Город
                            option(value="spb") Санкт-Петербург
                            option(value="msk") Москва
                .col-md-2
                    .form-group
                        label(for='') Тип сервиса
                        select.form-control#city
                            option -
                            option(value="") Трансфер
                            option(value="") Аренда с водителем
                            option(value="") Экскурсия
                            option(value="") Питание

                .col-md-2

                .col-md-2

                .col-md-2

                .col-md-2

            .row
                .col-md-2
                .col-md-2
                    a.btn.btn-xs.btn-primary + Добавить сервис
                .col-md-2

                .col-md-2

                .col-md-2

                .col-md-2

            hr

            button.btn.btn-default(type='submit') + Добавить день

            //.form-group
            //    label(for='') Количество человек
            //    input.form-control(type='text', placeholder='Например: 5')
            //
            //.form-group
            //    label(for='') Откуда
            //    input.form-control(type='text', placeholder='')
            //
            //.form-group
            //    label(for='') Куда
            //    input.form-control(type='text', placeholder='')
            //
            //.form-group
            //    label(for='') Класс авто
            //    select.form-control
            //        option -
            //        option Стандарт
            //        option Бизнес
            //        option Премиум
            //        option Минивен эконом
            //        option Минивен бизнес
            //        option Минивен премиум
            //        option Микроавтобус
            //        option Автобус
            //
            //.form-group
            //    label(for='') Стоимость за трансфер
            //    input.form-control(type='text', placeholder='')
            //
            //.form-group
            //    label(for='') Стоимость на человека
            //    input.form-control(type='text', placeholder='')
            //
            //.form-group
            //    label(for='') Количество человек
            //    input.form-control(type='text', placeholder='')
            //
            //.form-group
            //    label(for='') Аренда с водителем
            //    br
            //    input(type='checkbox', name='vehicle', value='Bike')
            //
            //hr
            //h3 Экскурсии
            //
            //.form-group
            //    label(for='') Музей
            //    input.form-control(type='text', placeholder='')
            //
            //.form-group
            //    label(for='') Гид (язык)
            //    input.form-control(type='text', placeholder='')
            //
            //.form-group
            //    label(for='') Длительность экскурсии (часы)
            //    input.form-control(type='text', placeholder='')
            //
            //.form-group
            //    label(for='') Стоимость музея на человека
            //    input.form-control(type='text', placeholder='')
            //
            //.form-group
            //    label(for='') Количество человек
            //    input.form-control(type='text', placeholder='')
            //
            //button.btn.btn-default(type='submit') Добавить экскурсию
            //a &nbsp;
            //button.btn.btn-default(type='submit') Добавить день
            //
            //hr
            //h3 Питание
            //
            //.form-group
            //    label(for='') Завтрак
            //    textarea.form-control
            //
            //.form-group
            //    label(for='') Обед
            //    textarea.form-control
            //
            //.form-group
            //    label(for='') Ужин
            //    textarea.form-control
            //
            //button.btn.btn-default(type='submit') Посчитать
