extends ./layout/base

block content
    .container-fluid(style="margin-top:20px;")
        form.form-inline
            .jumbotron(style="padding:7px")
                .form-group
                    label Квотация подготовленя для &nbsp;
                    input.form-control#documentFor(type='text', placeholder='...')
                br
                .form-group
                    label Даты пребывания: С &nbsp;
                    input.form-control#tripStarts(type='text', placeholder='dd-mm-yyyy')
                .form-group
                    label До &nbsp;
                    input.form-control#tripEnds(type='text', placeholder='dd-mm-yyyy')
                br
                .form-group
                    label Количество гостей &nbsp;
                    input.form-control#guestsCount(type='text', placeholder='...')

            hr
            h3 Проживание

            #accommodations

            hr

            a.btn.btn-default(onclick="addAccommodation()") + Добавить вариант проживания


            hr
            h3 Программа

            #programs
            
            hr
            
            a.btn.btn-default(onclick="addProgram()") + Добавить день
            
            
            
            //.row
            //    .col-md-2
            //        .form-group
            //            h4 День
            //              b №1
            //    .col-md-10
            //
            //.row
            //    .col-md-2
            //        .form-group
            //            label(for='') Город
            //            select.form-control#city
            //                option Город
            //                option(value="spb") Санкт-Петербург
            //                option(value="msk") Москва
            //    .col-md-2
            //        .form-group
            //            label(for='') Тип сервиса
            //            select.form-control#service
            //                option -
            //                option(value="transfer") Трансфер
            //                option(value="withDriver") Аренда с водителем
            //                option(value="excursion") Экскурсия
            //                option(value="food") Питание
            //        a.btn.btn-xs.btn-primary#addService + Добавить сервис
            //
            //    .col-md-8#dynamicPlace
            //
            //
            //hr

            

            // hidden fields that are reused

            #hiddenTransfer(style="display:none")
                .form-group
                    label(for='') Класс авто
                    br
                    select.form-control
                        option -
                        option Стандарт
                        option Бизнес
                        option Премиум
                        option Минивен эконом
                        option Минивен бизнес
                        option Минивен премиум
                        option Микроавтобус
                        option Автобус
                .form-group
                    label(for='') Откуда
                    br
                    input.form-control(type='text', placeholder='')
                .form-group
                    label(for='') Куда
                    br
                    input.form-control(type='text', placeholder='')

            #hiddenWithDriver(style="display:none")
                .form-group
                    label(for='') Класс авто
                    br
                    select.form-control
                        option -
                        option Стандарт
                        option Бизнес
                        option Премиум
                        option Минивен эконом
                        option Минивен бизнес
                        option Минивен премиум
                        option Микроавтобус
                        option Автобус
                .form-group
                    label(for='') С
                    br
                    input.form-control(type='text', placeholder='')
                .form-group
                    label(for='') До
                    br
                    input.form-control(type='text', placeholder='')

            #hiddenExcursion(style="display:none")
                .form-group
                    label(for='') Куда
                    br
                    input.form-control(type='text', placeholder='')
                .form-group
                    label(for='') Кол-во человек
                    br
                    input.form-control(type='text', placeholder='')

            #hiddenFood(style="display:none")
                .form-group
                    label(for='') Ресторан
                    br
                    input.form-control(type='text', placeholder='')
                .form-group
                    label(for='') Название меню
                    br
                    input.form-control(type='text', placeholder='')
