extends ./layout/base

block content

    .container(style="margin-top:20px;")

        h1 Play Ground

        #cities(style="display:none")
            option -
                each city in cities
                    option(value=city.key)=city.value

        #hotels(style="display:none")
            option -
                each hotel in hotels
                    option(value=hotel.hotelCodename)=hotel.hotelName

        #roomList(style="display:none")
            option -
                each room in rooms
                    option(value=room.title)=room.title

        form.form-inline(action="/test", method="post")#mainForm

            #playground

            br

            a.btn.btn-primary.btn-sm(onclick="addAcc();") + Добавить отель

            hr

            a#checkout.btn.btn-success.pull-right(onclick="checkout();") Checkout

        // Button trigger modal
        //button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Launch demo modal

        // Modal
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title Проверьте введенные данные
                    .modal-body
                        #checkoutData
                    .modal-footer
                        //button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Сохранить
