extends ./layout/base

block content

    .container-fluid(style="margin-top:20px;")

        h1 Play Ground

        #cities(style="display:none")
            option -
                each city in cities
                    option(value=city.value)=city.value

        #hotels(style="display:none")
            option -
                each hotel in hotels
                    option(value=hotel.title)=hotel.title

        #roomList(style="display:none")
            option -
                each room in rooms
                    option(value=room.title)=room.title

        form.form-inline(action="", method="post")

            #playground

            a.btn.btn-primary(onclick="addAcc();") Добавить вариант проживания