extends ./layout/base

block content

    .container(style="margin-top:20px;")

        form.form-inline(action="/test", method="post")#mainForm

            table.table.tab-content#head-table
                tbody
                    tr
                        td Квотация подготовленя для
                        td
                            input.form-control#documentFor(type='text', placeholder='...' name="documentFor").input-sm
                    tr
                        td Начало пребывания
                        td
                            input.form-control#tripStarts(type='text', placeholder='dd-mm-yyyy', name="tripStarts").input-sm
                    tr
                        td Конец пребывания
                        td
                            input.form-control#tripEnds(type='text', placeholder='dd-mm-yyyy', name="tripEnds").input-sm
                    tr
                        td Количество гостей
                        td
                            input.form-control#guestsCount(type='number', placeholder='...', name="guestsCount").input-sm

            #accommodations

            h1 Проживание

            a.btn.btn-primary.btn-sm(onclick="addAcc();") + Добавить отель

            hr

            h1 Программа

            #programs

            a.btn.btn-primary.btn-sm(onclick="addProgram();") + Добавить день

            hr

            a.btn.btn-success.pull-right(onclick="preview();") Checkout

        #cities(style="display:none")
            option -
                each city in cities
                    option(value=city.key)=city.value

        #cars(style="display:none")
            option -
                each car in cars
                    option(value=car.title)=car.value

        #hotels(style="display:none")
            option -
                each hotel in hotels
                    option(value=hotel.hotelCodename)=hotel.hotelName

        #roomList(style="display:none")
            option -
                each room in rooms
                    option(value=room.title)=room.title

        // DAYS - hidden fields

        #hiddenTransfer(style="display:none")
            .form-group
                label(for='') Класс авто
                br
                select.form-control.transferCarType

            .form-group
                label(for='') Кол-во авто
                br
                input.form-control.transferCarAmount(type='number', placeholder='')
            .form-group
                label(for='') Кол-во часов
                br
                input.form-control.transferHours(type='number', placeholder='')
            .form-group
                label(for='') Ночной тариф (+50% c 23:00-07:00)
                br
                input.transferNightMode(type='checkbox')
            .form-group
                label(for='') Откуда
                br
                input.form-control.transferFrom(type='text', placeholder='')
            .form-group
                label(for='') Куда
                br
                input.form-control.transferTo(type='text', placeholder='')

        #hiddenWithDriver(style="display:none")
            .form-group
                label(for='') Класс авто
                br
                select.form-control.driverCarType

            .form-group
                label(for='') Кол-во  авто
                br
                input.form-control.driverCarsAmount(type='number', placeholder='')
            .form-group
                label(for='') Кол-во часов
                br
                input.form-control.driverHours(type='text', placeholder='')

        #hiddenExcursion(style="display:none")
            .form-group
                label(for='') Куда
                br
                input.form-control.goingPlace(type='text', placeholder='')
            .form-group
                label(for='') Кол-во человек
                br
                input.form-control.pplAmount(type='number', placeholder='')

            #hiddenFood(style="display:none")
                .form-group
                    label(for='') Ресторан
                    br
                    input.form-control.restaurant(type='text', placeholder='')
                .form-group
                    label(for='') Название меню
                    br
                    input.form-control.menuTitle(type='text', placeholder='')
                .form-group
                    label(for='') Кол-во человек
                    br
                    input.form-control.restaurantPeopleAmount(type='number', placeholder='')

        // Button trigger modal
        //button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Launch demo modal

        // Modal
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title Проверьте введенные данные
                    .modal-body
                        #checkoutData
                    .modal-footer
                        //button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Сохранить