extends ./layout/base

block content

    .container-fluid(style="margin-top:20px;")

        h1 Play Ground

        #cities(style="display:none")
            option -
                each city in cities
                    option(value=city.key)=city.value

        #hotels(style="display:none")
            option -
                each hotel in hotels
                    option(value=hotel.hotelCodename)=hotel.hotelName

        #roomList(style="display:none")
            option -
                each room in rooms
                    option(value=room.title)=room.title

        form.form-inline(action="/test", method="post")#mainForm

            #playground

            a.btn.btn-primary.btn-sm(onclick="addAcc();") + Добавить отель

            hr

            a.btn.btn-success(onclick="checkout();") Checkout