<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Список отелей</title>
  <link rel="stylesheet" href="../vendor/bootstrap.min.css">
  <link rel="stylesheet" href="../main.css">
</head>
<body>
  <div class="container-fluid">
    <legend>
      <h3>
        Отели
        <button type="button" name="button" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#hotelsModal">Добавить</button>
      </h3>
    </legend>
    <div class="" id=hotelsList>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="hotelsModal" tabindex="-1" role="dialog" aria-labelledby="hotelsModalLabel">
    <div class="modal-dialog" role="document">
      <form id="addHotel">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="hotelsModalLabel">Добавить</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Отель</label>
              <input type="text" class="form-control" id="title" placeholder="Название отеля">
            </div>
            <div class="roomForm">
              <div class="form-group">
                <label for="price">Одиночная комната. Цена (р.)</label>
                <input type="number" class="form-control" id="singleRoom" placeholder="1200">
              </div>
              <div class="form-group">
                <label for="price">Двойная комната. Цена (р.)</label>
                <input type="number" class="form-control" id="doubleRoom" placeholder="1200">
              </div>
              <div class="form-group">
                <label for="price">Тройная комната. Цена (р.)</label>
                <input type="number" class="form-control" id="trippleRoom" placeholder="1200">
              </div>
            </div>
            <div class="form-group">
              <label for="price">Доп. кровать. Цена (р.)</label>
              <input type="number" class="form-control" id="extraBed" placeholder="1200">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
  window.$ = window.jQuery = require('../vendor/jquery.min.js');

  var _ = require('underscore');
  var Datastore = require('nedb');
  var hotels = new Datastore({ filename: 'db/hotels.db', autoload: true });

  const remote = require('electron').remote;
  const dialog = remote.require('electron').dialog;

  var BrowserWindow = remote.BrowserWindow;

  var thisWindow = BrowserWindow.getFocusedWindow();

  hotels.find({}, function (err, docs) {
    _.each(docs, function (doc) {
      $('#hotelsList').append(
        '<div class="panel panel-default" id="' + doc._id + '">' +
        '<div class="panel-heading">' +
          doc.name +
        '<button class="btn btn-danger btn-xs pull-right" onclick="removeRecord(\''+doc._id+'\')">x</button>' +
        '</div>' +
        '<div class="panel-body">' +
          '<div class="roomsLayout">' +
            '<b>Одиночная: </b> ' + doc.roomType.single.rub + ' р.' +
            '<br/>' +
            '<b>Двойная: </b> ' + doc.roomType.double.rub + ' р.' +
            '<br/>' +
            '<b>Тройная: </b> ' + doc.roomType.triple.rub + ' р.' +
          '</div>' +
          '<br/>' +
          '<b>Доп. кровать: </b> ' + doc.extraBed + ' р.' +
          '</div>' +
        '</div>'
      )
    });
  });

  $('form#addHotel').submit(function(event){

    var title = $(event.target['title']).val();
    var singleRoom = $(event.target['singleRoom']).val();
    var doubleRoom = $(event.target['doubleRoom']).val();
    var trippleRoom = $(event.target['trippleRoom']).val();
    var extraBed = $(event.target['extraBed']).val();

    hotels.insert({
      name: title,
      roomType: {
        single: {
            rub: singleRoom
        },
        double: {
            rub: doubleRoom
        },
        triple: {
            rub: trippleRoom
        }
      },
      extraBed: extraBed
    }, function (err, newDoc) {
      thisWindow.reload();
    });

    $('#hotelsModal').modal('hide');

    $(event.target['title']).val("");
    $(event.target['singleRoom']).val("");
    $(event.target['doubleRoom']).val("");
    $(event.target['trippleRoom']).val("");
    $(event.target['extraBed']).val("");

    return false;
  });

  removeRecord = function (id) {

    dialog.showMessageBox({
      message: "Удалить? ",
      buttons: ["OK", "Отменить"]
    }, function (index) {

      if (index === 0) {
        hotels.remove({ _id: id }, {}, function (err, numRemoved) {
          if (err)
          console.log(err);
          else
          $('#'+id).remove();
        });
      }
    });

  };

  </script>
  <script src="../vendor/bootstrap.min.js"></script>
</body>
</html>
