<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Список ресторанов</title>
    <link rel="stylesheet" href="../vendor/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <legend>
        <h3>
          Рестораны
          <button type="button" name="button" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#restaurantModal">Добавить</button>
        </h3>
      </legend>
      <div class="" id=restaurantsList>

      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="restaurantModal" tabindex="-1" role="dialog" aria-labelledby="restaurantModalLabel">
      <div class="modal-dialog" role="document">
        <form id="addRestaurant">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="restaurantModalLabel">Добавить</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="name">Название ресторана / меню</label>
                <input type="text" class="form-control" id="name" placeholder="Название ресторана, меню ..">
              </div>
              <div class="form-group">
                <label for="price">Цена (р.)</label>
                <input type="number" class="form-control" id="price" placeholder="1200">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      window.$ = window.jQuery = require('../vendor/jquery.min.js');

      var _ = require('underscore');
      var restaurants = require('../../dbInit').restaurants;

      const ipc = require('electron').ipcRenderer;
      const remote = require('electron').remote;
      const dialog = remote.require('electron').dialog;

      var BrowserWindow = remote.BrowserWindow;
      var thisWindow = BrowserWindow.getFocusedWindow();

      restaurants.find({}, function (err, docs) {
        _.each(docs, function (doc) {
          $('#restaurantsList').append(
            '<div class="panel panel-default" id="' + doc._id + '">' +
              '<div class="panel-heading">' +
                doc.name +
                '<button class="btn btn-danger btn-xs pull-right" onclick="removeRecord(\''+doc._id+'\')">x</button>' +
              '</div>' +
              '<div class="panel-body"><b>Price:</b> ' + doc.price + ' р.</div>' +
            '</div>'
          )
        });
      });

      $('form#addRestaurant').submit(function(event){

        var name = $(event.target['name']).val();
        var price = $(event.target['price']).val();

        restaurants.insert({
          name: name,
          price: price
        }, function (err, newDoc) {

          thisWindow.reload();

          ipc.send('reload-main-window');

        });

        $('#restaurantModal').modal('hide');

        $(event.target['name']).val("");
        $(event.target['price']).val("");

        return false;
      });

      removeRecord = function (id) {

        dialog.showMessageBox({
          message: "Удалить? ",
          buttons: ["OK", "Отменить"]
        }, function (index) {

          if (index === 0) {
            restaurants.remove({ _id: id }, {}, function (err, numRemoved) {
              if (err)
                console.log(err);
              else
                $('#'+id).remove();
                ipc.send('reload-main-window');
            });
          }
        });

      };

    </script>
    <script src="../vendor/bootstrap.min.js"></script>
  </body>
</html>
