doctype html
html
    head
        block title
            title Default title

        link(rel='stylesheet', href='/vendor/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')

        script(src='vendor/js/jquery.min.js')
        script(src='/vendor/js/bootstrap.min.js')

    body
        block content